@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.animate-zoom{
    animation: animate-zoom 10s ease-in-out infinite;
}

#google_translate_element {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    /* Add other styling as needed */
  }

  /* Hide the Google branding flag icon if desired */
  .goog-te-gadget img {
    display: none;
  }
  

@keyframes  animate-zoom {
    from{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    to{
        transform: scale(1);
    }
}

