/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.animate-zoom{
    animation: animate-zoom 10s ease-in-out infinite;
}


@keyframes  animate-zoom {
    from{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    to{
        transform: scale(1);
    }
}